<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

	<style>
		.v-enter-active,
		.v-leave-active {
			transition: opacity 0.5s ease;
		}

		.v-enter-from,
		.v-leave-to {
			opacity: 0;
		}

		.list-enter-active,
		.list-leave-active {
			transition: all 0.5s ease;
		}

		.list-enter-from {
			opacity: 0;
			transform: translateX(-30px) rotate(-5deg);
		}

		.list-leave-to {
			opacity: 0;
			transform: translateX(30px) rotate(5deg);
		}
	</style>

	<title>lab12</title>
</head>

<body>
	<header>
		<div class="container-xxl">
			<nav class="navbar navbar-expand-md navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="#"><img src="img/logo.svg" alt="logo" width="120" height="38"></a>

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-links"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbar-links">
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" href="#">Shop</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#">News</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#">About us</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<div id="app" class="container-xxl">
		<div class="row mt-4 mb-5">
			<h2 class="text-center mb-4">Add images to gallery</h2>

			<div class="col-md-5 col-lg-4 order-md-last">
				<div class="card p-3 mb-3">
					<input
						type="text"
						v-model="maxImgCountString"
						class="form-control mb-3 col-6 col-md-8"
						placeholder="Max images">

					<div class="progress mb-3">
						<div
							class="progress-bar"
							role="progressbar"
							:style="{width: progressWidth + '%'}"
							:aria-valuenow="progressWidth"
							aria-valuemin="0"
							aria-valuemax="100"
						></div>
					</div>

					<h5 class="d-flex justify-content-between align-items-center">
						<button
							type="button"
							class="btn btn-primary"
							data-bs-toggle="modal"
							data-bs-target="#add-images-modal"
						>Add images</button>

						<span
							class="badge rounded-pill"
							:class="{ 'bg-primary': !isTooManyImages, 'bg-danger': isTooManyImages }"
						>{{ imgCount }}/{{ maxImgCount }}</span>
					</h5>

					<div
						class="modal fade"
						id="add-images-modal"
						tabindex="-1"
						aria-labelledby="add-images-modal"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="add-images-modal">Add images</h5>

									<button
										type="button"
										class="btn-close"
										data-bs-dismiss="modal"
										aria-label="Close"
									></button>
								</div>

								<div class="modal-body">
									<form>
										<div class="mb-3">
											<label for="img-url" class="form-label">URL</label>

											<input
												type="url"
												class="form-control"
												v-model="modalImgUrl"
												id="img-url"
												placeholder="https://picsum.photos/600/400"
												required>
										</div>

										<div class="mb-3">
											<label for="img-name" class="form-label">Name</label>

											<input
												type="text"
												class="form-control"
												v-model="modalImgName"
												id="img-name"
												required>
										</div>
									</form>
								</div>

								<div class="modal-footer">
									<Transition>
										<div
											class="alert alert-success py-1 me-auto"
											v-if="showAddedSuccess"
										>Successfully added!</div>
									</Transition>

									<button
										type="button"
										class="btn btn-secondary"
										data-bs-dismiss="modal"
									>Cancel</button>

									<button
										type="button"
										class="btn btn-primary"
										@click="onAddClick"
										:disabled="isBtnAddDisabled"
									>Add</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<Transition>
					<div class="alert alert-danger" v-if="isTooManyImages">
						Too many images!
					</div>
				</Transition>
			</div>

			<div class="col-md-7 col-lg-8">
				<div class="row row-cols-1 row-cols-lg-2 g-4">

					<transition-group name="list">
						<div class="col" v-for="image in images" :key="image.uuid">

								<div class="card">
									<img :src="image.url" class="card-img-top" :alt="`image of '${image.name}'`">

									<div class="card-body">
										<h5 class="card-title d-flex justify-content-between align-items-center">
											<span>{{ image.name }}</span>

											<button
												type="button"
												class="btn btn-outline-danger"
												@click="onDeleteImage(image.uuid)">

												<i class="bi bi-trash3"></i>
											</button>
										</h5>
									</div>
								</div>								
						</div>
					</transition-group>

				</div>
			</div>
		</div>
	</div>

	<!-- <script src="js/bootstrap.bundle.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<!-- TODO The template syntax can be seen on the page before Vue loads. -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
	<script src="js/index.js"></script>
</body>

</html>